---
import type { Navigation } from "sanity.types";
import Link from "@/components/link.astro";
import Container from "@/components/ui/layout/container.astro";
import { extractLink, type NavItemLink } from "@/lib/nav-item";

type Props = {
  navigation?: Navigation | null;
};

const { navigation } = Astro.props;
const navLinks = (navigation?.mainNav || []) as NavItemLink[];
---

<Container
  as="div"
  size="fluid"
  class="border-b py-20"
  transition:persist="main-nav"
>
  <Container as="nav" class="flex justify-between items-center">
    <ul class="flex gap-20">
      {
        navLinks.map((item) =>
          item.hasSubmenu && item.children?.length ? (
            <li>
              <details>
                <summary>{item.label}</summary>
                <ul>
                  {item.children.map((child) =>
                    child.hasSubmenu && child.children?.length ? (
                      <li>
                        <details>
                          <summary>{child.label}</summary>
                          <ul>
                            {child.children.map((grandchild) => (
                              <li>
                                <Link {...extractLink(grandchild)} prefetch="hover" />
                              </li>
                            ))}
                          </ul>
                        </details>
                      </li>
                    ) : (
                      <li>
                        <Link {...extractLink(child)} prefetch="hover" />
                      </li>
                    )
                  )}
                </ul>
              </details>
            </li>
          ) : (
            <li>
              <Link {...extractLink(item)} prefetch="hover" />
            </li>
          )
        )
      }
    </ul>
    {import.meta.env.NODE_ENV === "development" && <a href={import.meta.env.PUBLIC_SANITY_STUDIO_ROUTE || "/studio"} data-astro-reload>Admin</a>}
  </Container>
</Container>
