---
import Container from "@/components/ui/layout/container.astro";
import Grid from "@/components/ui/layout/grid.astro";
import GridItem from "@/components/ui/layout/grid-item.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Container as="section">
    <h2 class="text-2xl font-bold">Grid Component</h2>
    <Grid
      as="div"
      class="*:bg-blue-100 *:rounded *:h-fit *:aspect-square *:flex *:items-center *:justify-center"
    >
      <GridItem as="div" class="lg:col-span-8">Grid Item 1</GridItem>
      <GridItem as="div" class="lg:col-span-4">Grid Item 2</GridItem>
      <GridItem as="div" class="lg:col-span-4 lg:col-start-5">
        Grid Item 3
      </GridItem>
      <GridItem as="div" class="lg:col-span-4 lg:col-start-1">
        Grid Item 4
      </GridItem>
      <Grid
        as="div"
        class="*:bg-blue-100 *:rounded *:h-fit *:aspect-square *:flex *:items-center *:justify-center"
      >
        <GridItem as="div" class="lg:col-span-8">Grid Item 1</GridItem>
        <GridItem as="div" class="lg:col-span-4">Grid Item 2</GridItem>
        <GridItem as="div" class="lg:col-span-4 lg:col-start-5">
          Grid Item 3
        </GridItem>
        <GridItem as="div" class="lg:col-span-4 lg:col-start-1">
          Grid Item 4
        </GridItem>
      </Grid>
    </Grid>
  </Container>
</Layout>
