---
import Heading from "@/components/ui/typography/heading.astro";
import Paragraph from "@/components/ui/typography/paragraph.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div>
    <section>
      <h2 class="text-2xl font-bold">Heading Sizes</h2>
      <div>
        <Heading as="h1" size="h1">Heading H1</Heading>
        <Heading as="h2" size="h2">Heading H2</Heading>
        <Heading as="h3" size="h3">Heading H3</Heading>
        <Heading as="h4" size="h4">Heading H4</Heading>
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold">Heading Color Schemes</h2>
      <div>
        <Heading as="h2" size="h2" colorScheme="light" class="bg-dark">
          Light color scheme
        </Heading>
        <Heading as="h2" size="h2" colorScheme="dark">
          Dark color scheme
        </Heading>
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold">Paragraph Sizes</h2>
      <div>
        <Paragraph as="p" size="default">Default paragraph size</Paragraph>
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold">Paragraph Color Schemes</h2>
      <div>
        <Paragraph as="p" colorScheme="light" class="bg-dark">
          Light color scheme
        </Paragraph>
        <Paragraph as="p" colorScheme="dark">Dark color scheme</Paragraph>
      </div>
    </section>

    <section>
      <h2 class="text-2xl font-bold">Paragraph Elements</h2>
      <div>
        <Paragraph as="p">Paragraph as p</Paragraph>
        <Paragraph as="span">Paragraph as span</Paragraph>
        <Paragraph as="small">Paragraph as small</Paragraph>
      </div>
    </section>
  </div>
</Layout>
