---
import Container from "@/components/ui/layout/container.astro";

type NavLink = {
  href: string;
  label: string;
};

const navLinks: NavLink[] = [
  { href: "/", label: "Home" },
  { href: "/typography", label: "Typography" },
  { href: "/grid-page", label: "Grid" },
  { href: "/animations", label: "Animations" },
];
---

<Container as="div" size="fluid" class="border-b py-20">
  <Container as="nav" class="flex justify-between items-center">
    <ul class="flex gap-20">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
    {import.meta.env.NODE_ENV === "development" && <a href="/admin">Admin</a>}
  </Container>
</Container>
